<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837169824672-r7ker3t147c5h1iph7jld92brlddsl2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837169824672-r7ker3t147c5h1iph7jld92brlddsl2k</string>
	<key>API_KEY</key>
	<string>AIzaSyBecNP_HMGC9cqAEH99aJnK3EFHxbrbTOs</string>
	<key>GCM_SENDER_ID</key>
	<string>837169824672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sambody.thewall.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>thewall-us3r1to2bymitchkoko</string>
	<key>STORAGE_BUCKET</key>
	<string>thewall-us3r1to2bymitchkoko.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837169824672:ios:32b4d584ced4a11c6c5ac5</string>
</dict>
</plist>